drivers:
- name: Albon
  results:
  - 10
  - 13
  - 5
  cost: 7.2

- name: Alonso
  results:
  - 9
  - -3
  - -5
  cost: 12.5

- name: Bottas
  results:
  - 22
  - -2
  - 20
  cost: 9.4

- name: Gasly
  results:
  - -4
  - 17
  - 14
  cost: 13.1

- name: Hamilton
  results:
  - 34
  - 13
  - 26
  cost: 30.4

- name: Latifi
  results:
  - 10
  - -9
  - 8
  cost: 6.7

- name: Leclerc
  results:
  - 49
  - 41
  - 49
  cost: 18.8

- name: Magnussen
  results:
  - 27
  - 14
  - 6
  cost: 6

- name: Norris
  results:
  - 1
  - 22
  - 24
  cost: 15.8

- name: Ocon
  results:
  - 20
  - 21
  - 20
  cost: 12.6

- name: Perez
  results:
  - 4
  - 22
  - 35
  cost: 18

- name: Ricciardo
  results:
  - 13
  - -8
  - 18
  cost: 14

- name: Russel
  results:
  - 28
  - 26
  - 33
  cost: 23.8

- name: Sainz
  results:
  - 32
  - 27
  - -5
  cost: 17.3

- name: Schumacher
  results:
  - 5
  - 2
  - 12
  cost: 6.3

- name: Stroll
  results:
  - 15
  - 9
  - 9
  cost: 9

- name: Tsunoda
  results:
  - 19
  - -15
  - -1
  cost: 8.4

- name: Verstappen
  results:
  - 5
  - 45
  - 4
  cost: 30.4

- name: Zhou
  results:
  - 14
  - 10
  - 9
  cost: 8.5

teams:
- name: Alfa Romeo
  results:
  - 31
  - 3
  - 24
  cost: 8.4

- name: AlphaTauri
  results:
  - 10
  - -3
  - 8
  cost: 10.2

- name: Alpine
  results:
  - 24
  - 13
  - 10
  cost: 14.1

- name: Aston Martin
  results:
  - 14
  - 19
  - -3
  cost: 11

- name: Ferrari
  results:
  - 76
  - 63
  - 44
  cost: 25.8

- name: Haas
  results:
  - 27
  - 11
  - 13
  cost: 6.6

- name: McLaren
  results:
  - 9
  - 9
  - 37
  cost: 17.5

- name: Mercedes
  results:
  - 57
  - 34
  - 64
  cost: 33.9

- name: Red Bull
  results:
  - 4
  - 62
  - 39
  cost: 32.1

- name: Williams
  results:
  - 15
  - 1
  - 8
  cost: 6.6