drivers:
- name: Albon
  results:
  - 10
  - 13
  cost: 7.3

- name: Alonso
  results:
  - 9
  - -3
  cost: 12.3

- name: Bottas
  results:
  - 22
  - -2
  cost: 9.5

- name: Gasly
  results:
  - -4
  - 17
  cost: 13.3

- name: Hamilton
  results:
  - 34
  - 13
  cost: 30.7

- name: Latifi
  results:
  - 10
  - -9
  cost: 6.8

- name: Leclerc
  results:
  - 49
  - 41
  cost: 18.6

- name: Magnussen
  results:
  - 27
  - 14
  cost: 6

- name: Norris
  results:
  - 1
  - 22
  cost: 15.5

- name: Ocon
  results:
  - 20
  - 21
  cost: 12.4

- name: Perez
  results:
  - 4
  - 22
  cost: 17.7

- name: Ricciardo
  results:
  - 13
  - -8
  cost: 13.8

- name: Russel
  results:
  - 28
  - 26
  cost: 23.7

- name: Sainz
  results:
  - 32
  - 27
  cost: 17.3

- name: Schumacher
  results:
  - 5
  - 2
  cost: 6.4

- name: Stroll
  results:
  - 15
  - 9
  cost: 9.1

- name: Tsunoda
  results:
  - 19
  - -15
  cost: 8.5

- name: Verstappen
  results:
  - 5
  - 45
  cost: 30.4

- name: Zhou
  results:
  - 14
  - 10
  cost: 8.2

teams:
- name: Alfa Romeo
  results:
  - 31
  - 3
  cost: 8.5

- name: AlphaTauri
  results:
  - 10
  - -3
  cost: 10.3

- name: Alpine
  results:
  - 24
  - 13
  cost: 13.9

- name: Aston Martin
  results:
  - 14
  - 19
  cost: 11.2

- name: Ferrari
  results:
  - 76
  - 63
  cost: 25.7

- name: Haas
  results:
  - 27
  - 11
  cost: 6.2

- name: McLaren
  results:
  - 9
  - 9
  cost: 17.7

- name: Mercedes
  results:
  - 57
  - 34
  cost: 34.1

- name: Red Bull
  results:
  - 4
  - 62
  cost: 32.4

- name: Williams
  results:
  - 15
  - 1
  cost: 6.8